:root {
  --font-family: "Unbounded", sans-serif;
  --second-family: "Inter", sans-serif;
  --content-width: 1310px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/Unbounded-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/Unbounded-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/Unbounded-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/Unbounded-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/Unbounded-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn-red {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding: 21px 110px;
  background: linear-gradient(95.01deg, #980000 14.31%, #e42424 38.93%, #e42424 63.09%, #980000 99.9%);
  color: var(--light-color);
  border-radius: 10px;
}

.site__container {
  position: relative;
}

.header {
  padding-top: 40px;
  position: absolute;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 158px;
}
.header__logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 32.24px;
  color: var(--light-color);
}
.header__link {
  padding: 12px 10px 10px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav__link {
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  color: var(--light-color);
  cursor: pointer;
}

.burger {
  position: relative;
  width: 50px;
  height: 30px;
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 60%;
  height: 1px;
  background-color: var(--light-color);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 60%;
  height: 1px;
  background-color: var(--light-color);
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger::before {
  top: 7px;
}

.burger::after {
  top: 20px;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

.header__item-none {
  display: none;
}

@media (max-width: 1024px) {
  .header__item-none {
    display: block;
  }
  .header__link {
    display: none;
  }
  .burger {
    display: block;
  }
  .nav {
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 1000;
    background-color: #000;
    opacity: 0.8;
    padding: 30px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    width: 100%;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
  .menu--active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media (max-width: 720px) {
  .header__logo {
    font-size: 20px;
    line-height: 24.8px;
  }
}
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container {
  padding-top: 150px;
  padding-bottom: 100px;
}
.hero__title {
  max-width: 1340px;
  height: 80px;
  font-weight: 900;
  font-size: 76px;
  line-height: 105.68px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #dadada;
  text-stroke: 1px #dadada;
  -webkit-background-clip: text;
  background-clip: text;
}
.hero__title span {
  display: inline-block;
  height: 85px;
  -webkit-text-stroke: 0px;
  text-stroke: 0px;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#fff));
  background-image: linear-gradient(#464646, #fff);
}
.hero__inner {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero__text-left {
  max-width: 635px;
  max-height: 26px;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: var(--light-color);
  opacity: 0.8;
}
.hero__inner-container {
  max-width: 447px;
  max-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.hero__text-right {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: var(--light-color);
  opacity: 0.8;
}
.hero__text-right span {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
}
.hero__img-container {
  margin: 0 auto;
}
.hero__img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 430px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-15%, black), color-stop(90%, transparent));
  background-image: linear-gradient(to top, black -15%, transparent 90%);
}
.hero__btn {
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 40px;
}
.hero__img-text {
  padding-bottom: 71px;
  max-width: 1334px;
  height: 46px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--light-color);
  opacity: 0.8;
}
.hero__img-text span {
  display: inline-block;
}

.bottom-text {
  -ms-flex-item-align: end;
  align-self: flex-end;
  max-width: 302px;
  height: 49px;
}

@media (max-width: 1369px) {
  .hero {
    background-size: 1370px 100%;
  }
  .hero__title {
    font-size: 50px;
    line-height: 44px;
    text-align: center;
  }
  .hero__title span {
    font-size: 26px;
    height: 62px;
  }
  .hero__text-left {
    padding-bottom: 10px;
  }
  .hero__text-right {
    text-align: center;
  }
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bottom-text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .hero__btn {
    padding: 17px 77px;
  }
}
@media (max-width: 850px) {
  .hero {
    background-size: 1000px 100%;
  }
}
@media (max-width: 720px) {
  .hero-container {
    padding-top: 125px;
  }
}
@media (max-width: 613px) {
  .hero {
    background-size: 900px 100%;
  }
  .hero__img-inner {
    padding-top: 250px;
  }
  .hero__img-text {
    width: 320px;
    height: 56px;
    font-weight: 300;
    font-size: 12px;
    line-height: 13.8px;
    text-align: center;
  }
  .hero__text-left {
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18.2px;
    text-align: center;
  }
  .hero__text-right {
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    text-align: center;
  }
  .hero__text-right span {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.6px;
    text-align: center;
  }
  .hero__inner-container {
    padding-top: 12px;
  }
}
@media (max-width: 560px) {
  .hero {
    background-size: 800px 100%;
  }
}
@media (max-width: 450px) {
  .hero__container {
    padding-bottom: 10px;
  }
  .hero__img-inner {
    padding-top: 150px;
  }
  .hero {
    background-size: 600px 100%;
  }
  .hero__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
  }
}
@media (max-width: 408px) {
  .hero__title span {
    font-size: 19px;
    height: 60px;
  }
}
@media (max-width: 350px) {
  .hero {
    max-width: 320px;
  }
  .hero__btn {
    padding: 15px 30px;
  }
}
.about {
  background-color: #212833;
  padding-bottom: 150px;
}
.about__inner {
  position: relative;
}
.about__title {
  width: 1920px;
  text-overflow: clip;
  padding-top: 50px;
  font-weight: 700;
  font-size: 140px;
  line-height: 173.6px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #676767;
  text-stroke: 1px #676767;
  -webkit-background-clip: text;
  background-clip: text;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  position: relative;
  bottom: 90px;
}
.about__left-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49.6px;
  text-transform: uppercase;
  color: var(--light-color);
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  gap: 25px;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 35px;
}
.about__numbers {
  width: 91px;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #676767;
  text-stroke: 1px #676767;
  -webkit-background-clip: text;
  background-clip: text;
}
.about__text {
  max-width: 606px;
  height: 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.76px;
  color: var(--light-color);
}

@media (max-width: 1670px) {
  .about__left {
    padding: 0 30px;
  }
}
@media (max-width: 1369px) {
  .about__container {
    padding-top: 60px;
    position: static;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 50px;
  }
  .about__title {
    padding: 0;
    display: none;
  }
  .about__img {
    padding-left: 30px;
  }
}
@media (max-width: 800px) {
  .about__text {
    max-width: 606px;
    font-size: 20px;
    line-height: 22px;
  }
  .about__numbers {
    font-size: 40px;
    line-height: 44.8px;
  }
}
@media (max-width: 613px) {
  .about {
    padding-bottom: 100px;
  }
  .about__left-title {
    font-size: 18px;
    line-height: 22.32px;
  }
  .about__text {
    font-size: 12px;
    line-height: 14.88px;
  }
  .about__numbers {
    font-size: 40px;
    line-height: 44.8px;
  }
}
@media (max-width: 350px) {
  .about {
    max-width: 320px;
  }
}
.card {
  background: #212833;
}
.card__inner {
  padding: 60px 0;
  background-color: var(--light-color);
  border-bottom-left-radius: 20%;
}
.card-img {
  display: block;
  margin-bottom: 10px;
}
.card__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49.6px;
  color: #000000;
  text-transform: uppercase;
}
.card__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[3];
  grid-template-columns: repeat(3, 3fr);
  list-style-type: none;
  padding-bottom: 30px;
  gap: 30px 20px;
}
.card__item {
  max-width: 427px;
  height: 614px;
  border: 1px solid #dddddd;
  border-radius: 20px;
}
.card__info {
  margin-bottom: 20px;
}
.card__info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.8px;
  padding-bottom: 10px;
}
.card__info-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.36px;
  color: #969696;
}
.card__info-text span {
  color: #000000;
}
.card__info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.card__price-text {
  max-width: 208px;
  height: 34px;
  line-height: 17.36px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.card__info-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}
.card__price-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.card__price-btn {
  max-width: 397px;
  height: 49px;
  display: inline-block;
  padding: 14px 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  color: #e42424;
  border-radius: 10px;
  border: 1px solid #e42424;
}

.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.32px;
  text-align: right;
  color: #000000;
}

.key {
  width: 149px;
  height: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #969696;
}

.key-2 {
  width: 186px;
  height: 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17.36px;
  text-align: right;
  color: #969696;
}

.card__padding {
  padding: 0 15px;
}

.card-btn {
  text-align: center;
  width: 427px;
  height: 68px;
  display: block;
  margin: 0 auto;
}

.card-width {
  max-width: 427px;
}

.content {
  padding-bottom: 30px;
  max-width: 1340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper {
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}

.swiper-slide {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  min-width: 300px;
}

.content-card {
  width: 427px;
  min-height: 200px;
}

@media (max-width: 1500px) {
  .slider-2 .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
@media (max-width: 1280px) {
  .slider-3 .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .content-card {
    width: 400px;
    min-height: 200px;
  }
  .card__price-btn {
    padding: 15px 15px;
  }
}
@media (max-width: 460px) {
  .card-btn {
    padding: 17px 50px;
    width: 300px;
    height: 55px;
    font-size: 16px;
    line-height: 20.8px;
  }
  .card__item {
    padding: 0 10px;
    width: 320px;
    height: 570px;
  }
  .card__price-btn {
    width: 280px;
  }
  .content-card {
    max-width: 400px;
    min-height: 200px;
  }
}
@media (max-width: 380px) {
  .card__title {
    font-size: 18px;
    line-height: 22.32px;
  }
}
@media (max-width: 350px) {
  .card {
    max-width: 320px;
  }
  .card-btn {
    max-width: 280px;
  }
}
.advantage {
  padding-top: 100px;
  background-color: #212833;
}
.advantage__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.advantage__item {
  max-width: 566px;
  height: 100%;
  padding: 18px 120px 18px 58px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.8px;
  text-align: left;
  background-color: var(--light-color);
  border-radius: 20px;
  list-style-type: none;
}

.advantage-padding {
  padding: 28px 120px 27px 58px;
}

@media (max-width: 1369px) {
  .advantage__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .advantage__item {
    padding: 15px 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.88px;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .advantage {
    max-width: 320px;
  }
}
.process {
  background-color: #212833;
}
.process__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-height: 900px;
}
.process__wrapper {
  padding: 100px;
  max-width: 1207px;
  max-width: 953px;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #fff;
  position: relative;
  top: 200px;
}
.process__title-back {
  width: 754px;
  height: 296px;
  padding: 0;
  font-size: 238.68px;
  line-height: 295.96px;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  top: 100px;
  left: 70px;
}
.process__title {
  margin-bottom: 39px;
  max-width: 710px;
  height: 200px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49.6px;
  text-transform: uppercase;
  color: #000;
}
.process__title span {
  color: #b81e1e;
}
.process__list {
  padding-bottom: 30px;
  max-width: 734px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.process__numbers {
  width: 84px;
  height: 84px;
  padding: 19px 16px;
  background-color: #000;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.process__item-numbers {
  width: 52px;
  height: 45px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44.64px;
  -webkit-text-stroke: 1px var(--light-color);
  text-stroke: 1px var(--light-color);
  -webkit-background-clip: text;
  background-clip: text;
}
.process__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.76px;
  color: #000;
}
.process__item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19.84px;
  color: #000;
}
.process__bottom {
  padding: 22px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 734px;
  height: 123px;
  background-color: #000;
  border-radius: 20px;
}
.process__bottom-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.8px;
  color: var(--light-color);
}
.process__bottom-time {
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  color: #6c6c6c;
}
.process__img {
  display: block;
  width: 100%;
}

.numbers-width {
  width: 64px;
}

@media (max-width: 1550px) {
  .process__title-back {
    display: none;
  }
}
@media (max-width: 1000px) {
  .process__title {
    font-size: 30px;
    line-height: 39.32px;
    margin-bottom: 0;
  }
}
@media (max-width: 733px) {
  .process__wrapper {
    padding: 50px;
  }
  .process__title {
    font-size: 24px;
    line-height: 30.32px;
    margin-bottom: 0;
    height: 100px;
    margin-bottom: 30px;
  }
  .process__numbers {
    width: 70px;
    height: 55px;
    padding: 15px;
  }
  .process__item-numbers {
    width: 45px;
    height: 30px;
    font-size: 26px;
    line-height: 30.88px;
  }
  .process__item-title {
    font-family: Unbounded;
    font-size: 15px;
    line-height: 14.88px;
  }
  .process__item-text {
    font-size: 12px;
    line-height: 14.88px;
  }
  .process__bottom {
    gap: 7px;
  }
  .process__bottom-text {
    font-size: 12px;
    line-height: 14.88px;
  }
  .process__bottom-time {
    font-size: 12px;
    line-height: 14.52px;
  }
}
@media (max-width: 500px) {
  .process__wrapper {
    padding: 20px;
    top: 80px;
  }
  .process__title {
    font-size: 18px;
    line-height: 22.32px;
  }
}
@media (max-width: 350px) {
  .process {
    max-width: 320px;
  }
}
.social {
  padding-bottom: 100px;
  background-color: #212833;
}
.social__telegram {
  position: relative;
  bottom: 200px;
}
.social__telegram-top {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--light-color);
  border-radius: 20px;
  position: relative;
  top: 200px;
}
.social__telegram-title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44.64px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.social__telegram-back {
  width: 2525px;
  height: 248px;
  font-size: 200px;
  line-height: 248px;
  text-align: center;
  text-overflow: clip;
  position: absolute;
  top: 100px;
  left: -620px;
}
.social__telegram-text {
  max-width: 1005px;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.8px;
  text-align: center;
  color: #797979;
}
.social__telegram-btn {
  padding: 21px 93px;
}
.social__youtube-container {
  margin-bottom: 30px;
  margin: 0 auto;
}
.social__youtube-title {
  margin: 0px auto 30px;
  max-width: 989px;
  height: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49.6px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
}
.social__youtube-btn {
  padding: 21px 98px;
}

@media (max-width: 1370px) {
  .social__youtube-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .video-width {
    width: 700px;
    height: 590px;
  }
}
@media (max-width: 1000px) {
  .social__telegram-back {
    display: none;
  }
}
@media (max-width: 750px) {
  .social__telegram {
    bottom: 50px;
  }
  .social__telegram-top {
    top: 50px;
  }
  .social__telegram-text {
    margin-bottom: 50px;
  }
  .social__youtube-title {
    font-size: 22px;
    line-height: 25.32px;
  }
}
@media (max-width: 600px) {
  .social__telegram-title {
    max-width: 320px;
    font-size: 16px;
    line-height: 19.84px;
  }
  .social__telegram-text {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14.88px;
    margin-bottom: 30px;
  }
  .social__telegram-btn {
    width: 270px;
    height: 55px;
    font-size: 16px;
    line-height: 20.8px;
    padding: 20px 35px 18px 35px;
    text-align: center;
  }
  .video-width {
    width: 320px;
    height: 240px;
  }
  .social__youtube-btn {
    width: 300px;
    height: 55px;
    font-size: 16px;
    line-height: 20.8px;
    padding: 20px 48px 18px 35px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .social {
    max-width: 320px;
  }
  .social__telegram-btn {
    padding-top: 7px;
    width: 260px;
  }
  .social__youtube-btn {
    width: 260px;
    padding-left: 22px;
  }
}
.team {
  background-color: #212833;
}
.team__wrapper {
  max-height: 1800px;
  padding: 100px 0;
  background-color: var(--light-color);
  border-radius: 10%;
  position: relative;
}
.team__title-back {
  width: 2525px;
  height: 248px;
  font-size: 200px;
  line-height: 248px;
  text-align: center;
  text-overflow: clip;
  position: relative;
  top: 70px;
}
.team__title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49.6px;
  color: #000;
  text-align: center;
}
.team__inner-title {
  margin-bottom: 10px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 20px;
  background-color: #b40d0d;
  color: #fff;
}
.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}
.team__list {
  height: 330px;
  padding-bottom: 25px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
.team__item-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.84px;
  color: #000;
  text-align: center;
}
.team__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.team__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}
.team__item-city {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.84px;
}
.team__item-tel {
  font-weight: 400;
  font-size: 10px;
  line-height: 17.36px;
  color: #B9B9B9;
}
.team-btn {
  text-align: center;
  padding: 14px 50px;
  max-width: 205px;
  height: 45px;
}
.team-img {
  display: block;
}
.team__img-container {
  position: relative;
  bottom: 1700px;
  left: 300px;
}
.team-flex {
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.border-list {
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: #fff;
}

.team-height {
  height: 330px;
}

.main-team {
  max-width: 483px;
}

.team-width {
  display: block;
}

.content-card-width {
  width: 250px;
}

.content {
  padding-bottom: 30px;
  max-width: 1340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper {
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}

.swiper-slide {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  min-width: 300px;
}

.team-grid {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}

@media (max-width: 1370px) {
  .team__title-back {
    display: none;
  }
}
@media (max-width: 1280px) {
  .team__wrapper {
    max-height: 1500px;
  }
  .team__img-container {
    bottom: 1400px;
  }
}
@media (max-width: 800px) {
  .team__wrapper {
    border-radius: 0px;
  }
  .team__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .team__list-width img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 494px) {
  .main-team img {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 442px) {
  .team__wrapper {
    max-height: 1700px;
  }
  .team__list-width {
    height: 500px;
  }
  .team__img-container {
    bottom: 50px;
    left: 5px;
  }
}
@media (max-width: 350px) {
  .team {
    max-width: 320px;
  }
}
.order {
  background-color: #212833;
  padding-bottom: 100px;
}
.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 20px;
}
.order__left {
  max-width: 950px;
  height: 617px;
  padding: 30px 167px 30px 300px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.order__title {
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44.64px;
  color: #000;
}
.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}
.order__label {
  border-radius: 10px;
  border: 1px solid #8e8e8e;
  position: relative;
}
.order__input {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px 100px;
  border-radius: 10px;
}
.order__input::-webkit-input-placeholder {
  text-align: center;
  color: #9d9d9d;
}
.order__input::-moz-placeholder {
  text-align: center;
  color: #9d9d9d;
}
.order__input:-ms-input-placeholder {
  text-align: center;
  color: #9d9d9d;
}
.order__input::-ms-input-placeholder {
  text-align: center;
  color: #9d9d9d;
}
.order__input::placeholder {
  text-align: center;
  color: #9d9d9d;
}
.order__btn {
  padding: 14px 158px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}
.order__img {
  display: block;
}

.just-validate-error-label {
  position: absolute;
  bottom: 47px;
  left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
}

@media (max-width: 800px) {
  .order__left {
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .order__title {
    font-size: 18px;
    line-height: 22.32px;
  }
  .order__left {
    max-width: 450px;
  }
  .order__label {
    max-width: 350px;
  }
  .order__input {
    text-align: center;
    padding: 20px 70px;
  }
  .order__btn {
    max-width: 350px;
    padding: 17px 66px;
  }
}
@media (max-width: 411px) {
  .order__input {
    text-align: center;
    padding: 20px 30px;
  }
  .order__left {
    max-width: 350px;
  }
  .order__left {
    max-width: 350px;
  }
  .order__label {
    max-width: 350px;
  }
  .order__input {
    text-align: center;
    padding: 20px 50px;
  }
  .order__input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 14.88px;
  }
  .order__input::-moz-placeholder {
    font-size: 12px;
    line-height: 14.88px;
  }
  .order__input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 14.88px;
  }
  .order__input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 14.88px;
  }
  .order__input::placeholder {
    font-size: 12px;
    line-height: 14.88px;
  }
  .order__btn {
    max-width: 350px;
    padding: 17px 66px;
  }
}
@media (max-width: 350px) {
  .order {
    max-width: 320px;
  }
}
.reviews {
  padding: 100px 0;
  background-color: #212833;
}
.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
}
.reviews__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.reviews__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49.6px;
  text-transform: uppercase;
  color: #fff;
}
.reviews__btn {
  padding: 14px 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.reviews__inner-text {
  max-width: 466px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.8px;
  color: #fff;
}
.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.reviews__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.reviews__block {
  padding: 22px 22px 30px 20px;
  background-color: #fff;
  border-radius: 20px;
}
.reviews__block-title {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.32px;
  color: #000;
}
.reviews__block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.36px;
}
.reviews__slider {
  padding: 50px 20px;
}
.reviews__slider-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.76px;
}
.reviews__slider-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22.32px;
}

.rev-next,
.rev-prev {
  cursor: pointer;
}

.title-none {
  display: none;
}

@media (max-width: 1200px) {
  .reviews__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .reviews__title {
    display: none;
  }
  .title-none {
    display: block;
  }
  .reviews__inner-bottom {
    display: none;
  }
  .rev-next,
  .rev-prev {
    display: none;
  }
}
@media (max-width: 700px) {
  .reviews__slider {
    padding: 10px;
  }
  .reviews__slider-title {
    font-size: 14px;
    line-height: 17.36px;
  }
  .reviews__slider-text {
    width: 253px;
    height: 420px;
    font-size: 12px;
    line-height: 14.88px;
  }
  .rev-width {
    width: 270px;
    height: 473px;
  }
}
@media (max-width: 350px) {
  .reviews {
    max-width: 320px;
  }
}
.footer {
  background-color: #212833;
  padding-top: 40px;
  position: absolute;
  width: 100%;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 158px;
}
.footer__logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 32.24px;
  color: var(--light-color);
}
.footer__link {
  padding: 12px 10px 10px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}
.footer__container {
  padding: 50px;
  background-color: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.footer__inner {
  gap: 139px;
}
.footer__logo, .footer__nav-link {
  color: #000;
}

@media (max-width: 1000px) {
  .footer__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__nav-list {
    max-width: 250px;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer__nav-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 350px) {
  .footer {
    max-width: 320px;
  }
}/*# sourceMappingURL=main.css.map */
